/* Fonte do projeto*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-size: 3.8vw;
}

/* Configurações globais */
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

/* Section de apresentação */
#section-apresentacao {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10rem;
  height: 100vh;
  width: 100vw;
  padding: 3.5rem 3rem;
  text-align: center;
  color: white;
  background-image: linear-gradient(#564561, #ad88c6);
  position: relative;
}

#apresentacao {
  opacity: 60%;
  font-size: 5vw;
  font-weight: 700;
}

#section-apresentacao h1 {
  font-size: 12vw;
  font-weight: 700;
}

#section-apresentacao nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 3rem 3.5rem 3rem;
}

#section-apresentacao nav a {
  font-size: 10vw;
  color: white;
}

#section-apresentacao nav a:last-child {
  font-size: 9vw;
}

#section-apresentacao nav a:hover {
  transform: translate(0, -0.2rem);
  color: #fdf0d1;
}

/* Versão da section de apresentação Desktop */
@media (min-width: 1024px) {
  #section-apresentacao {
    justify-content: center;
    align-items: end;
    gap: 0.4rem;
    text-align: start;
    position: static;
    padding: 10vh 26vw;
  }

  #apresentacao {
    text-align: start;
    font-size: 1.5vw;
    width: 100%;
  }

  #section-apresentacao div {
    display: grid;
    grid-template-columns: 42% 58%;
    gap: 0.5rem 0;
    width: 100%;
  }

  #section-apresentacao h1 {
    line-height: 90%;
    font-size: 8vw;
  }

  #section-apresentacao nav {
    justify-content: start;
    align-items: end;
    gap: 0.5rem;
    position: static;
    padding: 0;
  }

  #section-apresentacao nav a:first-child {
    font-size: 0.85rem;
  }

  #section-apresentacao nav a {
    font-size: 0.8rem;
    transition: 0.3s;
  }

  #section-apresentacao nav a:last-child {
    font-size: 0.7rem;
  }

  #section-apresentacao h1:last-child {
    grid-column: 1 / 3;
  }

  #descricao {
    width: 65%;
    text-align: end;
    font-size: 1vw;
    margin-right: 0.1rem;
  }
}

/* Section de projetos */
#projetos-pessoais {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 3.5rem 3rem;
  background-image: linear-gradient(#ad88c6, #e3c99d);
}

#projetos-pessoais h1 {
  font-size: 7vw;
  font-weight: 700;
  margin-bottom: 2rem;
}

#projetos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projeto img {
  width: 70vw;
}

.projeto h2 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  margin-top: 0.3rem;
}

.projeto p {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
}

/* Versão da section de projetos Desktop */
@media (min-width: 1024px) {
  #projetos-pessoais {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 15vw 0 15vw;
  }

  #projetos-pessoais h1 {
    text-align: start;
    font-size: 0.5rem;
    width: 100%;
    margin-bottom: 0rem;
  }

  #projetos {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .projeto img {
    width: 23vw;
  }

  .projeto a {
    height: 4.5rem;
  }

  .projeto h2 {
    font-size: 0.3rem;
    margin-top: 0.3rem;
  }

  .projeto p {
    font-size: 0.3rem;
  }
}

/* Section de Habilidades */

#habilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200vh;
  width: 100vw;
  padding: 0 2.5rem;
  background-image: linear-gradient(#e3c99d, #89c7a4);
}

#habilidades h1 {
  font-size: 7vw;
  font-weight: 700;
  text-align: center;
  height: 5%;
}

/* Section de Habilidades */
/* Certidicados */

#lista-certificados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#lista-certificados ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
}

.certificado {
  position: relative;
}

.fa-certificate,
.fa-check {
  position: absolute;
  top: 0;
  right: 0;
}

.fa-certificate {
  font-size: 18vw;
  margin-right: -5vw;
  margin-top: -5vw;
  color: #89c78f;
}

.fa-check {
  font-size: 9vw;
  margin-right: -2vw;
  margin-top: -0.8vw;
  color: white;
}

.certificado div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18vh;
  padding: 8%;
  border-radius: 30px;
  color: black;
  background-color: rgb(255, 255, 255, 0.6);
}

.certificado h3 {
  color: #666464;
}

.certificado p {
  font-size: 3.2vw;
  font-weight: 700;
}

/* Section de Habilidades */
/* Habilidades */

#lista-habilidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 2%;
}

#lista-habilidades h1 {
  height: 5%;
}

#lista-habilidades h2 {
  font-size: 6vw;
  font-weight: 700;
  text-align: center;
  height: 10%;
}

#habilidades-tecnicas,
#habilidades-interpessoais {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#habilidades-tecnicas {
  height: 40%;
}

#habilidades-tecnicas ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 60%;
}

#habilidades-tecnicas li,
#habilidades-interpessoais li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

#habilidades-tecnicas i {
  font-size: 1.8rem;
}

#habilidades-tecnicas img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 10%;
  margin-bottom: 0.05rem;
}

#habilidades-tecnicas p,
#habilidades-interpessoais p {
  text-align: start;
  font-weight: 700;
}

#habilidades-interpessoais {
  height: 30%;
}

#habilidades-interpessoais ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 60%;
}

/* Versão da section de habilidades Desktop */
@media (min-width: 1024px) {
  #habilidades {
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    padding: 0 15vw;
  }

  #habilidades h1 {
    font-size: 0.5rem;
    text-align: start;
    height: auto;
  }

  /* Section de Habilidades */
  /* Certidicados */

  #lista-certificados {
    width: auto;
    gap: 1rem;
  }

  #lista-certificados ul {
    height: auto;
    gap: 0.5rem;
  }

  .certificado {
    width: 4.5rem;
  }

  .fa-certificate {
    font-size: 1.2rem;
    margin-right: -0.3rem;
    margin-top: -0.4rem;
  }

  .fa-check {
    font-size: 0.6rem;
    margin-right: -0.1rem;
    margin-top: -0.1rem;
  }

  .certificado div {
    width: 4.5rem;
    height: 2rem;
    border-radius: 0.3rem;
    padding: 6%;
  }

  .certificado h2,
  .certificado h3 {
    font-size: 0.21rem;
  }

  .certificado p {
    font-size: 0.19rem;
  }

  /* Section de Habilidades */
  /* Habilidades */

  #lista-habilidades {
    width: auto;
    gap: 0.9rem;
  }

  #lista-habilidades h2 {
    font-size: 0.4rem;
    text-align: start;
    height: auto;
  }

  #habilidades-tecnicas h2,
  #habilidades-interpessoais h2,
  #habilidades-tecnicas ul,
  #habilidades-interpessoais ul {
    height: auto;
  }

  #habilidades-tecnicas,
  #habilidades-interpessoais {
    gap: 0.1rem;
    height: auto;
  }

  #habilidades-tecnicas ul {
    grid-template-columns: repeat(2, 4rem);
    grid-template-rows: repeat(3, 1rem);
  }

  #habilidades-interpessoais ul {
    grid-template-columns: repeat(2, 4rem);
    grid-template-rows: repeat(2, 1rem);
  }

  #habilidades-tecnicas li,
  #habilidades-interpessoais li {
    justify-content: start;
    align-items: end;
    gap: 0.2rem;
  }

  #habilidades-tecnicas i {
    font-size: 0.5rem;
  }

  #habilidades-tecnicas img {
    width: 0.45rem;
    height: 0.45rem;
  }

  #habilidades-tecnicas p,
  #habilidades-interpessoais p {
    font-size: 0.3rem;
    margin-bottom: 0.06rem;
  }
}

/* Section de Sobre */

#sobre {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 3.5rem 3rem;
  background-image: linear-gradient(#89c7a4, #564561);
}

#cartao-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#informacoes-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 43rem;
  border-radius: 32px;
  padding: 5.5rem 1.5rem 2rem 1.5rem;
  color: white;
  background-color: #564561;
}

#informacoes-perfil h1 {
  display: none;
}

#foto-perfil {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: white;
  border: solid #564561 0.5rem;
  position: absolute;
  top: 0;
  margin-top: -3rem;
  overflow: hidden;
}

#foto-perfil img {
  width: 200%;
  height: 200%;
  object-fit: cover;
  position: absolute;
  right: -2rem;
}

#informacoes-perfil nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#informacoes-perfil i {
  color: white;
  font-size: 3rem;
}

/* Versão da section de sobre Desktop */
@media (min-width: 1024px) {
  #sobre {
    padding: 2rem 3rem;
  }
  
  #cartao-perfil {
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    position: static;
  }
  
  #informacoes-perfil {
    gap: 0.5rem;
    height: auto;
    width: 40%;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
  }
  
  #informacoes-perfil h1 {
    display: block;
    width: 100%;
    text-align: start;
    font-size: 0.5rem;
  }

  #informacoes-perfil p {
    font-size: 0.3rem;
  }
  
  #foto-perfil {
    width: 6rem;
    height: 7rem;
    border-radius: 10%;
    border: none;
    position: static;
    margin-top: 0;
    order: 2;
    overflow: hidden;
  }
  
  #foto-perfil img {
    width: 100%;
    height: 100%;
    position: static;
  }
  
  #informacoes-perfil nav {
    width: 45%;
  }
  
  #informacoes-perfil i {
    font-size: 0.6rem;
  }
}
