/* Fonte do projeto*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 3.8vw;
}

/* Configurações globais */
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: black;
  overflow-x: hidden;
}

/* Section de apresentação */
#section-apresentacao {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10rem;
  height: 100vh;
  width: 100vw;
  padding: 3.5rem 3rem;
  text-align: center;
  color: white;
  background-image: linear-gradient(#564561, #AD88C6);
  position: relative;
}

#apresentacao {
  opacity: 60%;
  font-size: 5vw;
  font-weight: 700;
}

#section-apresentacao h1 {
  font-size: 12vw;
  font-weight: 700;
}


#section-apresentacao nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 3rem 3.5rem 3rem;
}

#section-apresentacao nav a {
  font-size: 10vw;
  color: white;
}

#section-apresentacao nav a:last-child {
  font-size: 9vw;
}

#section-apresentacao nav a:hover {
  transform: translate(0, -0.2rem);
  color: #FDF0D1;
}

/* Versão da section de apresentação Desktop */
@media (min-width: 1024px) {
  #section-apresentacao {
    justify-content: center;
    align-items: end;
    gap: 0.4rem;
    text-align: start;
    position: static;
    padding: 10vh 26vw;
  }

  #apresentacao {
    text-align: start;
    font-size: 1.5vw;
    width: 100%;
  }

  #section-apresentacao div {
    display: grid;
    grid-template-columns: 42% 58%;
    gap: 0.5rem 0;
    width: 100%;
  }

  #section-apresentacao h1 {
    line-height: 90%;
    font-size: 8vw;
  }

  #section-apresentacao nav {
    justify-content: start;
    align-items: end;
    gap: 0.5rem;
    position: static;
    padding: 0;
  }

  #section-apresentacao nav a:first-child {
    font-size: 0.85rem;
  }

  #section-apresentacao nav a {
    font-size: 0.8rem;
    transition: 0.3s;
  }

  #section-apresentacao nav a:last-child {
    font-size: 0.7rem;
  }

  #section-apresentacao h1:last-child {
    grid-column: 1 / 3;
  }

  #descricao {
    width: 65%;
    text-align: end;
    font-size: 1vw;
    margin-right: 0.1rem;
  }
}

/* Section de projetos */
#projetos-pessoais {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 3.5rem 3rem;
  background-image: linear-gradient(#AD88C6, #E3C99D);
}

#projetos-pessoais h1 {
  font-size: 7vw;
  font-weight: 700;
  margin-bottom: 2rem;
}

#projetos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projeto img {
  width: 70vw;
}

.projeto h2 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  margin-top: 0.3rem;
}

.projeto p {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
}

/* Versão da section de projetos Desktop */
@media (min-width: 1024px) {
  #projetos-pessoais {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 15vw 0 15vw;
  }
  
  #projetos-pessoais h1 {
    text-align: start;
    font-size: 0.5rem;
    width: 100%;
    margin-bottom: 0rem;
  }

  #projetos {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .projeto img {
    width: 23vw;
  }

  .projeto a {
    height: 4.5rem;
  }

  .projeto h2 {
    font-size: 0.3rem;
    margin-top: 0.3rem;
  }

  .projeto p {
    font-size: 0.3rem;
  }
}
